<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>Schedule.Schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentList</servlet-name>
        <servlet-class>StudentList.StudentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>AttendanceReport.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTable</servlet-name>
        <servlet-class>Controller.TimeTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Att</servlet-name>
        <servlet-class>Controller.Att</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAtt</servlet-name>
        <servlet-class>Controller.Report</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentList</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTable</servlet-name>
        <url-pattern>/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Att</servlet-name>
        <url-pattern>/att</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAtt</servlet-name>
        <url-pattern>/reportatt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
